*.iml
*.apk
/.idea/
/target/
/build/
.DS_Store
.externalNativeBuild
*/__pycache__/
**/*.csv
**/*.png
**/*.pyc
**/*.xlsx
**/*.ok
#**/*.html
**/*.log
**/*.pkl
#**/*.txt
**/*.bak
**/*.jpg
**/local-config.cnf
**/*.log.*
/venv/
/results/
/data/
/results/*.csv
**/session_name.session
/.venv
/portfolios/
/x/
apps/api/node_modules
options_greeks/
greeks/
core/


# for all u* projects
/bin/*.lock
test/
**/*.local.yaml
#**/*runtime.yaml
