pandas
numpy
pandas_datareader
alpha_vantage
tensorflow
matplotlib
yfinance
html5lib
openpyxl
finta
holidays
yahoo-fin
ibapi
requests_html
python-socketio
fxcmpy
tabulate
oandapyV20
ta
mplfinance
bokeh
pasta
redis
filelock
pyyaml
oandapyV20
requests
scipy
ruamel.yaml
flask
flask-cors
plotly
tabulate
dash
ib_async
finta
psutil
pandas-market-calendars